</ul>
  <li>Place of Beauty: <%= deal.beauty_place.name %></li>
  <li>title: <%= deal.title %></li>
  <li>description: <%= deal.description %></li>
  <li>discount: <%= deal.discount %>%</li>
<ul>

<% if current_user == deal.beauty_place.user %>
  <%= link_to 'Edit', edit_deal_path(deal), 'edit-deal': '#', remote: true %>
<% end %>
