<%= form_for [@beauty_place, @deal], remote: true do |deal_form| %>
  <% if @deal.errors.any? %>
    <%= render 'partials/form_errors', target: @deal %>
  <% end %>

  <div class="form-group">
    <%= deal_form.label :title %>
    <%= deal_form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= deal_form.label :description %>
    <%= deal_form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= deal_form.label :discount %>
    <%= deal_form.text_field :discount, class: 'form-control', placeholder: '10%, 15%, etc.' %>
  </div>
  <%= deal_form.submit 'Submit' %>
<% end %>
