<%= form_for deal do |f| %>
  <%= f.text_field :title, placeholder: 'title' %>
  <%= f.text_field :description, placeholder: 'description' %>
  <%= f.text_field :discount, placeholder: 'discount 10%, 15%, etc.' %>

  <!-- Select a service -->
  <h3>Choose a service</h3>
  <%= f.collection_select :service_ids, current_user.services, :id, :title %>

  <!-- Create a service -->
  <%= f.fields_for :service do |service_fields| %>
    ...
    Delete: <%= service_fields.check_box :_destroy %>
  <% end %>

  <br>
  <%= submit_tag 'Create' %>
<% end %>
