<h2>All deals</h2>
<table id="dealsTable" class="table">
  <tr>
    <th>place</th>
    <th>title</th>
    <th><%= link_to 'discount', discount_descending_path, id: 'discount', 'sort-by-discount': '#' %></th>
    <th>description</th>
  </tr>
  <tbody id='dealsTableBody'>

  <% @deals.each do |deal| %>
    <tr>
      <td><%= link_to deal.beauty_place.name, beauty_place_deal_path(deal, deal.beauty_place), remote: true %></td>
      <td><%= link_to deal.title, deal_path(deal), 'deal-show': '#', remote: true  %></td>
      <td><%= link_to deal.discount, remote: true %></td>
      <td><%= deal.description %></td>
      <!-- <% if current_user.owner? %>
      <td>
        <%= button_to 'Edit', edit_beauty_place_deal_path(deal.beauty_place.id, deal.id), method: :get, class: 'btn btn-primary-outline' %>
        <%= button_to 'Delete', beauty_place_deal_path(deal.beauty_place.id, deal.id), method: :delete, class: 'btn btn-danger-outline' %>
      </td>
      <% elsif current_user.normal? %>
      <td>
        <%= button_tag 'Purchase', class: 'btn btn-primary-outline' %>
      </td>
      <% end %> -->
    </tr>
  <% end %>

  </tbody>
</table>
<%= paginate @deals %>

<% if current_user.owner? && !@beauty_place.nil? %>
  <%= link_to 'New Deal', new_beauty_place_deal_path(@beauty_place, @deal), method: :get, class: 'btn btn-primary' %>
<% end %>
