<h2>name: <%= beauty_place.name %></h2>
<h2>city: <%= beauty_place.city %></h2>
<h3>state: <%= beauty_place.state %></h3>
<br>
<h2>All employees</h2>
<table class='table'>
  <tbody>
  <% beauty_place.employees.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <% if current_user.normal? %>
        <td><%= link_to 'Make Appointment' %></td>
      <% else %>
      <td><%= link_to 'Edit' %></td>
      <td><%= button_to 'Delete', employee, method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Add Employee' %>
<hr>

<h2>Deals being offered</h2>
<table class='table'>
  <thead>
    <tr>
      <th>title</th>
      <th>discount</th>
      <th>description</th>

    </tr>
  </thead>
  <tbody>
  <% beauty_place.deals.each do |deal| %>
    <tr>
      <td><%= deal.title %></td>
      <td><%= deal.discount %>%</td>
      <td><%= deal.description %></td>
      <!-- owner and admin should not have purchase button  -->
      <% if current_user.normal? %>
        <td><%= link_to 'Purchase' %></td>
      <% else %>
        <td><%= link_to 'Edit' %></td>
        <td><%= link_to 'Delete' %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<hr>
<h3>New Deal</h3>
<%= render '/deals/form', deal: @deal %>
