<h1>Beauty Places</h1>

<table class="table">
  <tbody>
  <% policy_scope(@beauty_places).each do |place| %>
    <tr>
      <td><%= link_to place.name, beauty_place_path(place) %></td>
      <td><%= link_to 'deals', beauty_place_deals_path(place) %></td>
      <% if policy(place).update? %>
        <td><%= link_to 'Edit', edit_beauty_place_path(place) %></td>
        <td><%= link_to 'Destroy', beauty_place_path(place), method: :delete %></td>
      <% else %>
        <td><%= place.address %></td>
        <td><%= place.city %></td>
        <td><%= place.state %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- check if user is an owner -->
<% if policy(BeautyPlace.first).create? %>
  <%= link_to "new place", new_beauty_place_path %>
<% end %>
