<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <ul class="nav nav-inline">
    </ul>
    <nav class="navbar navbar-light bg-faded" role="navigation" style="background-color: #">
      <%= link_to 'BeautyPin', root_path, class: 'navbar-brand' %>
      <div class="nav navbar-nav">
        <% if user_signed_in? %>
          <%= link_to "Home", root_path, class: 'nav-item nav-link active' %>
          <%= link_to "Deals", deals_path, class: 'nav-item nav-link' %>
          <% if current_user.admin? %>
            <%= link_to "Users", users_path, class: 'nav-item nav-link' %>
          <% end %>
          <!-- NOTE: put into a login partial or helper -->
          <%= link_to "Log out", destroy_user_session_path, class: 'nav-item nav-link' , method: "delete" %>
        <% else %>
          <!-- NOTE: put into login partial or helper -->
          <!-- class: 'form-inline pull-xs-right' -->
          <%= link_to "Sign In", new_user_session_path, class: 'nav-item nav-link' %>
          <%= link_to "Register", new_user_registration_path, class: 'nav-item nav-link' %>
        <% end %>
      </div>




      <%= form_tag deals_path, method: 'get', class: 'form-inline pull-xs-right' do %>
        <p>
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'mani pedi' %>
          <%= button_tag 'Search', name: nil, class: "btn btn-outline-success" %>
        </p>
      <% end %>

    </nav>
  </div>
</header>
