<!DOCTYPE html>
<html>
<head>
  <title>Beautypin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/nav' %>
<%= render 'partials/search_bar' %>

<!-- Auth errors -->
<% flash.each do |message_type, message| %>
  <div id="flash" class="flash-<%= message_type %>"><%= message %></div>
<% end %>

<main class="container">
<%= yield %>
</main>

<%= render 'partials/footer' %>
</body>
</html>
